
[submodule "bridges/php/php-classic"]
	path = bridges/php/php-classic
	url = https://github.com/joni2back/php-classic.git
[submodule "bridges/node/nodebackend"]
	path = bridges/node/nodebackend
	url = https://github.com/alekcz/nodebackend.git
