<!doctype html>
<html lang="en" data-ng-app="FileManagerApp">
<head>
  <meta charset="utf-8">
  <title>AngularJS FileManager</title>
  <script src="assets/ext/angular.min.js"></script>
  <script src="assets/ext/jquery.min.js"></script>
  <script src="assets/ext/bootstrap.min.js"></script>
  <script src="assets/js/app.js"></script>
  <script src="assets/js/config.js"></script>
  <script src="assets/js/chmod.js"></script>
  <script src="assets/js/item.js"></script>
  <script src="assets/js/filenavigator.js"></script>
  <script src="assets/js/fileuploader.js"></script>
  <script src="assets/js/controller.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="assets/css/main.css" rel="stylesheet" type="text/css"/>
</head>

<body data-ng-controller="FileManagerCtrl">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{appName}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search..." data-ng-model="query">
            <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#newfolder" data-ng-click="touch({})">
                <i class="glyphicon glyphicon-plus"></i> New folder
            </button>
            <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#newfile" data-ng-click="touch({})">
                <i class="glyphicon glyphicon-plus"></i> New file
            </button>
            <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#uploadfile" data-ng-click="touch({})">
                <i class="glyphicon glyphicon-upload"></i> Upload file
            </button>
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-3 col-md-2 sidebar file-tree">
                <ul class="nav nav-sidebar file-tree-root">
                    <li ng-repeat="item in fileNavigator.history" ng-include="'fileTreeItem'" ng-class="{'active': item.name == '/'+fileNavigator.currentPath.join('/')}"></li>
                </ul>
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <ol class="breadcrumb mb0">
                    <li data-ng-repeat="(key, dir) in fileNavigator.currentPath track by key" data-ng-class="{'active':$last}">
                        <a href="" data-ng-show="!$last" data-ng-click="fileNavigator.goTo(key)">{{dir}}</a>
                        <span data-ng-show="$last">{{dir}}</span>
                    </li>
                    <li><button class="btn btn-primary btn-xs" data-ng-click="fileNavigator.upDir()">&laquo;</button></li>
                </ol>

                <table class="table table-striped table-hover mb0 table-files">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Size</th>
                            <th>Date</th>
                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="file-item">
                        <tr data-ng-show="fileNavigator.requesting">
                            <td colspan="4">
                                Loading...
                            </td>
                        </tr>
                        <tr data-ng-show="!fileNavigator.requesting && fileNavigator.fileList.length < 1">
                            <td colspan="4">
                                No files in this folder...
                            </td>
                        </tr>
                        <tr data-ng-repeat="item in fileNavigator.fileList | filter:query | orderBy:orderProp" data-ng-show="!fileNavigator.requesting">
                            <td>
                                <a href="" data-ng-href="#/{{fileNavigator.currentPath.join('/')}}/{{item.model.name}}" data-ng-click="fileNavigator.folderClick(item)">
                                    <i class="glyphicon glyphicon-folder-close" data-ng-show="item.model.type === 'dir'"></i>
                                    <i class="glyphicon glyphicon-file" data-ng-show="item.model.type === 'file'"></i>
                                    {{item.model.name}}
                                </a>
                            </td>
                            <td>
                                {{item.model.sizeKb()}} Kb
                            </td>
                            <td>
                                {{item.model.date.toString()}}
                            </td>
                            <td class="text-right">
                                <div data-ng-include data-src="'fileToolbar'"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal" id="delete">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">Confirm</h4>
          </div>
          <div class="modal-body">
            Are you sure you want to delete <b>{{temp.model.name}}</b> ?
            <div data-ng-include data-src="'errorBar'" class="clearfix"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" data-ng-disabled="temp.inprocess">Cancel</button>
            <button type="button" class="btn btn-sm btn-primary" data-ng-click="delete(temp)" data-ng-disabled="temp.inprocess">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="rename">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">Change name</h4>
          </div>
          <div class="modal-body">
            <label class="radio">New filename for <b>{{temp.model.name}}</b> ?</label>
            <input class="form-control" data-ng-model="temp.tempModel.name" autofocus="autofocus">
            <div data-ng-include data-src="'errorBar'" class="clearfix"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" data-ng-disabled="temp.inprocess">Cancel</button>
            <button type="button" class="btn btn-sm btn-primary" data-ng-click="rename(temp)" data-ng-disabled="temp.inprocess">Rename</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="copy">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">Copy file</h4>
          </div>
          <div class="modal-body">
            <label class="radio">Enter new copy name for <b>/{{fileNavigator.currentPath.join('/')}}/{{temp.model.name}}</b></label>
            <input class="form-control" data-ng-model="temp.tempModel.name" autofocus="autofocus">
            <div data-ng-include data-src="'errorBar'" class="clearfix"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" data-ng-disabled="temp.inprocess">Cancel</button>
            <button type="button" class="btn btn-sm btn-primary" data-ng-click="copy(temp)" data-ng-disabled="temp.inprocess">Copy</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="edit">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">Edit file</h4>
          </div>
          <div class="modal-body">
              <label class="radio">File content</label>
              <span class="label label-warning" data-ng-show="temp.inprocess">Loading ...</span>
              <textarea class="form-control code" data-ng-model="temp.tempModel.content" data-ng-show="!temp.inprocess"></textarea>
              <div data-ng-include data-src="'errorBar'" class="clearfix"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" data-ng-disabled="temp.inprocess">Cancel</button>
            <button type="button" class="btn btn-sm btn-primary" data-ng-click="temp.edit()" data-ng-disabled="temp.inprocess">Edit</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="newfolder">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">Create folder</h4>
          </div>
          <div class="modal-body">
            <label class="radio">Folder name</label>
            <input class="form-control" data-ng-model="temp.tempModel.name" autofocus="autofocus">
            <div data-ng-include data-src="'errorBar'" class="clearfix"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" data-ng-disabled="temp.inprocess">Cancel</button>
            <button class="btn btn-sm btn-primary" data-ng-click="createFolder(temp.tempModel.name)" data-ng-disabled="temp.inprocess">Create</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="newfile">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">Create file</h4>
          </div>
          <div class="modal-body">
            <label class="radio">File name</label>
            <input class="form-control" data-ng-model="temp.tempModel.name" autofocus="autofocus">
            <label class="radio">File content</label>
            <textarea class="form-control code" data-ng-model="temp.tempModel.content"></textarea>
            <div data-ng-include data-src="'errorBar'" class="clearfix"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" data-ng-disabled="temp.inprocess">Cancel</button>
            <button class="btn btn-sm btn-primary" data-ng-click="createFile(temp.tempModel.name, temp.tempModel.content)" data-ng-disabled="temp.inprocess">Create</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="uploadfile">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">Upload file</h4>
          </div>
          <div class="modal-body">

            <label class="radio">Files will be uploaded to <b>/{{fileNavigator.currentPath.join('/')}}</b></label>
            <input type="file" class="form-control" data-ng-file="uploadFileList" autofocus="autofocus" multiple="multiple"/>
            <div data-ng-include data-src="'errorBar'" class="clearfix"></div>
          </div>
          <div class="modal-footer">
            <div data-ng-show="!fileUploader.requesting">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-sm btn-primary" data-ng-click="uploadFiles()" data-ng-disabled="!uploadFileList.length || fileUploader.requesting">Upload</button>
            </div>
            <div data-ng-show="fileUploader.requesting">
                <span class="label label-warning">Uploading ...</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="changepermissions">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">Change permissions</h4>
          </div>
          <div class="modal-body">

            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Permissions</th>
                        <th ng-repeat="(type, value) in temp.model.perms.values">{{type}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(mode, value) in temp.model.perms.permissionValues">
                        <td>{{mode}}</td>
                        <td data-ng-repeat="(type, value) in temp.model.perms.values" class="col-xs-1" ng-click="main()">
                            <input type="checkbox" ng-model="temp.tempModel.perms.values[type][mode]" ng-false-value="0" ng-true-value="{{temp.model.perms.permissionValues[mode]}}" >
                        </td>
                    </tr>
              </tbody>
            </table>
            <div>
                <span>Original Chmod: {{temp.model.perms.getNumber()}}</span>
                <span>Chmod: {{temp.tempModel.perms.getNumber()}}</span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
            <button class="btn btn-sm btn-primary" data-ng-click="temp.changePermissions()" data-ng-disabled="">Change</button>
          </div>
        </div>
      </div>
    </div>

    <script type="text/ng-template" id="errorBar">
        <div class="label label-danger error-msg pull-left" data-ng-show="temp.error"><i class="glyphicon glyphicon-remove-circle"></i> {{temp.error}}</div>
    </script>
    <script type="text/ng-template" id="fileToolbar">
        <div data-ng-show="!item.inprocess">
            <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete" data-ng-click="touch(item)" title="Delete">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
            <button class="btn btn-sm btn-default" data-toggle="modal" data-target="#rename" data-ng-click="touch(item)" title="Rename">
                <i class="glyphicon glyphicon-edit"></i>
            </button>
            <button class="btn btn-sm btn-default" data-toggle="modal" data-target="#copy" data-ng-show="!item.isFolder()" data-ng-click="touch(item)" title="Copy">
                <i class="glyphicon glyphicon-log-out"></i>
            </button>
            <button class="btn btn-sm btn-default" data-toggle="modal" data-target="#edit" data-ng-show="item.isEditable()" data-ng-click="item.getContent(); touch(item)" title="Edit">
                <i class="glyphicon glyphicon-pencil"></i>
            </button>
            <button class="btn btn-sm btn-default" data-toggle="modal" data-target="#changepermissions" data-ng-click="touch(item)" title="Permissions">
                <i class="glyphicon glyphicon-lock"></i>
            </button>
            <button class="btn btn-sm btn-default" data-toggle="modal" data-target="#" data-ng-show="item.isCompressible()" data-ng-click="touch(item)" title="Compress">
                <i class="glyphicon glyphicon-compressed"></i>
            </button>
            <button class="btn btn-sm btn-default" data-toggle="modal" data-target="#" data-ng-show="item.isExtractable()" data-ng-click="touch(item)" title="Extract">
                <i class="glyphicon glyphicon-export"></i>
            </button>
            <button class="btn btn-sm btn-default" data-ng-show="!item.isFolder()" data-ng-click="item.download()" title="Download">
                <i class="glyphicon glyphicon-cloud-download"></i>
            </button>
            <button class="btn btn-sm btn-default" data-ng-show="item.isImage()" data-ng-click="item.preview()" title="View item">
                <i class="glyphicon glyphicon-picture"></i>
            </button>
        </div>
        <div data-ng-show="item.inprocess">
            <span class="label label-warning">Wait ...</span>
        </div>
    </script>

    <script type="text/ng-template" id="fileTreeItem">
        <a href="#" ng-click="fileNavigator.folderClickByName(item.name)">
            <i class="glyphicon glyphicon-folder-open mr2"></i> {{ item.name.split('/').pop() }}
        </a>
        <ul class="nav nav-sidebar">
            <li ng-repeat="item in item.nodes" ng-include="'fileTreeItem'" ng-class="{'active': item.name == '/'+fileNavigator.currentPath.join('/')}"></li>
        </ul>
    </script>
</body>
</html>
