<div class="iconset">
    <div class="col-120" data-ng-repeat="item in fileNavigator.fileList | filter: query | orderBy: orderProp" data-ng-show="!fileNavigator.requesting && !fileNavigator.error">
        <a href="" class="thumbnail text-center" data-ng-click="smartClick(item)" ng-right-click="smartRightClick(item)" title="{{item.model.name}} ({{item.model.sizeKb()}}kb)">
            <div class="item-icon">
                <i class="glyphicon glyphicon-folder-open" data-ng-show="item.model.type === 'dir'"></i>
                <i class="glyphicon glyphicon-file" data-ng-show="item.model.type === 'file'"></i>
            </div>
            {{item.model.name | strLimit : 11 }}
        </a>
    </div>
    <div class="alert alert-warning" data-ng-show="fileNavigator.requesting">
        {{"loading" | translate}}...
    </div>
    <div class="alert alert-warning" data-ng-show="!fileNavigator.requesting && fileNavigator.fileList.length < 1 && !fileNavigator.error">
        {{"no_files_in_folder" | translate}}...
    </div>
    <div class="alert alert-danger" data-ng-show="!fileNavigator.requesting && fileNavigator.error">
        {{ fileNavigator.error }}
    </div>
</div>