<ul class="nav nav-sidebar file-tree-root">
    <li ng-repeat="item in fileNavigator.history" ng-include="'folder-branch-item'" ng-class="{'active': item.name == fileNavigator.currentPath.join('/')}"></li>
</ul>

<script type="text/ng-template" id="folder-branch-item">
<a href="#" ng-click="fileNavigator.folderClickByName(item.name)">
    <i class="glyphicon glyphicon-folder-open mr2"></i> {{ item.name.split('/').pop() || '/' }}
</a>
<ul class="nav nav-sidebar">
    <li ng-repeat="item in item.nodes" ng-include="'folder-branch-item'" ng-class="{'active': item.name == fileNavigator.currentPath.join('/')}"></li>
</ul>
</script>